$primaryColor: #1188F6;
$waringColor: #F04134; //警告颜色
$shadowBoxColor: rgba(0, 0, 0, .1);
$color-999: #999999;
$color-333: #333333;
$color-eee: #eeeeee;
$color-666: #666666;
$color-ddd: #dddddd;
$color-ccc: #cccccc;
@mixin default-style {
  /* CSS Document */
  html, body {
    height: 100%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    font-family: "Microsoft YaHei", "PingFang SC", tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  label{
    font-weight: normal;
  }
  p{
    margin-bottom: 0;
  }
  button, input, select {
    outline: none;
  }
  li {
    list-style: none;
  }
  a, a:focus, a:link, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: $primaryColor;
  }
  a {
    color: $primaryColor;
    &:hover {
      color: $primaryColor;
    }
  }
  ::-ms-clear, ::-ms-reveal {
    display: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
  }
  input[type="number"]{-moz-appearance:textfield;}

  // 强制更改原来商家中心的页面的某些不该有的样式
  .navbar-static-side {
    z-index: 999 !important;
  }
  .ant-row.form-row{
    min-height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    .query-form{
      .label-container{
        .field-label{
          margin-right: 10px;
        }
      }
    }
    .label-container{
      .label-required::before {
        content: '*';
        color: #F04134;
      }
      .field-label{
        text-align: right;
        margin-right: 20px;
        display: block;
        @include Height(40px);
      }
    }
    .ant-form-item{
      margin-bottom: 0;
    }
    .file-input-container{
      height: 40px;
      .file-input{
        display: none;
      }
      .upload-btn{
        margin-top: 9px;
        @include Height(22px);
      }
    }

  }
  .error-color{
    color: #F04134 !important;
  }
  .warning-color{
    color: #F04134 !important;
  }
}
@mixin clear-fix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//水平垂直居中
@mixin center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
//居中
@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

@mixin Height($height:30px) {
  height: $height;
  line-height: $height;
}

//文字超出
@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}